body {
margin:0;
font-family:Arial, sans-serif;
}

header {
display:flex;
justify-content:space-between;
padding:20px;
background:black;
}

.logo {
color:white;
text-decoration:none;
font-weight:bold;
}

nav a {
color:white;
margin-left:20px;
text-decoration:none;
}

.container {
max-width:1100px;
margin:auto;
padding:40px 20px;
}

.hero {
padding:80px 0;
}

.grid {
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.grid img {
width:100%;
height:300px;
object-fit:cover;
}

.card {
border:1px solid #ccc;
padding:40px;
}

footer {
text-align:center;
padding:40px;
}
